<%- include("header.ejs") -%>

    <div class="grid-container-1">
        <div class="main-section grid-item-1">
            <h1>About Me.</h1>
            <p class="section-text">
                Hello! Thanks for stopping by  😁.
                My name is Martha and I'm a fullstack developer with skills in HTML, CSS, JavaScript, Node js and Express JS.
                I love to take on exciting projects. I spend my free time coding. Connect with me here <a href="/contact" class="btn btn-dark btn-sm">Contact Me!</a> <br> Looking forward to hearing from you.
            </p>
        </div>
        
        <div class="image-section grid-2">
            <img src="images/profile.png" alt="developer-image">
        </div>
    </div>







<%- include("footer.ejs") -%>