<%- include("header.ejs") -%>
<div class="grid-container-1">
    <div class="main-section grid-item-1">
        <h1>Contact me at:</h1>
        <p>Send an Email</p>
        <a href="mailto:negedumartha16@gmail.com" class="btn btn-dark" target="_blank">Send an Email!</a>
        <p>Connect via LinkedIn</p>
        <a href="https://www.linkedin.com/in/martha-negedu-73a109186/" target="_blank"><i class="fa fa-linkedin fa-2x contact-icon"></i></a>
        <p>Check Me Out on Github</p>
        <a href="https://github.com/UnekwuMartha" target="_blank"><i class="fa fa-github fa-2x contact-icon"></i></a>
    </div>

    <div class="image-section grid-2">
        <img src="images/profile.png" alt="developer-image">
    </div>
</div>
<%- include("footer.ejs") -%>