<footer>
    <a href="https://www.facebook.com/profile.php?id=100008796127690" target="_blank"><i class="fa fa-facebook fa-2x icon"></i></a>
    <a href="https://twitter.com/MarthaUnekwu" target="_blank"><i class="fa fa-twitter fa-2x icon"></i></a>    
    <a href="https://instagram.com/marthaunekwu?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa fa-instagram fa-2x icon"></i></a>
    <a href="https://www.linkedin.com/in/martha-negedu-73a109186/" target="_blank"><i class="fa fa-linkedin fa-2x icon"></i></a>
    
    
   <p>&copy; Copyright Negedu Martha 2022.</p>
   <a id="healthfinder-logo" href="https://health.gov/myhealthfinder" title="MyHealthfinder">
    <img src="https://health.gov/themes/custom/healthfinder/images/MyHF.svg" alt="MyHealthfinder"/>
    </a>
</footer>
</body>
</html>