<%- include("header.ejs") -%>
<div class="container-fluid">

    <h2 class="success-head">Thank you for subscribing!🙂</h2>
    <a href="/" class="btn btn-primary">Go back to Page.</a>
</div>














<%-include("footer.ejs") -%>