body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

h2 {
    font-weight: bold;
}

.container-fluid {
    padding: 0 1rem;
}

li{
    list-style: none;
    border-bottom: solid 1px silver;
    padding-bottom: 2px;
}

label {
    font-weight: 5px;
}

iframe {
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

iframe img {
    width: 20%;
}

hr {
    border: dotted #b1b4b4 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

a {
    text-decoration: none;
}

a:hover {
    color: #fefefe;
}

/* Navbar */
.navbar-custom {
    padding: 3.5rem;
    background-color: #8fcdfa;
    color: #fefefe;
    position: sticky;
    border-radius: 5px;
    box-shadow: 1px 5px 2px 1px #cde1f0;
}

.brand-name {
    color: #fefefe;
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5rem;
}

#brand-span {
    font-family: 'Indie Flower', cursive;
    color: #0d1a22;
}

.navbar-toggler {
    background-color: #fefefe;
    color: #0d1a22;
    z-index: 0;
}

.navbar-toggler-icon {
    color: #0d1a22;
    z-index: 0;
}

.nav-item {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #fefefe;
    padding: 0 10px;
}

.icon {
    color: #fefefe;
    text-decoration: none;
    padding: 10px;
}

.icon:hover {
    color: #fefefe86;
}


/* Heading */

#title-text {
    font-weight: 7px;
}

.sub-heading {
    text-align: center;
    font-weight: 2rem;
    font-size: 1rem;
}

.date {
    color: #b1b4b4;
    font-size: 0.9rem;
}


/* Main body */

.grid-container-1 {
    display: grid;
    grid-template-columns: 73% 27%;
    grid-gap: 0;
}

.grid-item-1 {
    grid-column: 1;
}

.grid-item-2 {
    grid-column: 2;
}

.grid-item-1 h2 {
    padding-left: 0;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 0;
}

.main-section {
    padding: 50px 50px;
    background-color: #fefefe;
    color: #0d1a22;
    font-size: 1.1rem;
    line-height: 1.5;
    width: 90%;
}

.section-text {
    width: 90%;
    text-align: justify;
}

.image-section {
    width: 100%;
}

.image-section img {
    width: 80%;
    margin: 20px;
    border-radius: 10px;
}

/* Forms */

iframe .button {
    margin: auto;
}

.form-control {
    width: 70%;
    margin: auto;
}

.sign-up {
    padding: 40px 10px;
    text-align: center;
    border-left: #b1b4b4e3;
}

.btn {
    margin: 20px 0;
    background-color: #4aa7e9;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 0.9rem;
}

/* Bottom Section */
.facts h3 {
    text-align: center;
}

.carousel-inner>.carousel-item>img {
    width: 30%;
    height: 260px;
    margin: auto;
}

.card {
    padding: 0;
    border: 3px solid #c6caca;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 1.2rem;
    width: 40%;
}

.card img {
    width: 50%;
    height: 60%;
}

/* Success Page */
.success-head {
    margin: 3rem auto;
}

/* Footer */

footer {
    width: 100%;
    height: 30%;
    padding: 30px 50px;
    background-color: #59b3f3;
    color: #e2dfdf;
    text-align: center;
    margin-top: auto;
}

#healthfinder-logo img {
    width: 10%;
}

.contact-icon {
    color: #0d1a22;
    margin-bottom: 10px;
}


@media (max-width: 1028px) {
    body {
        text-align: center;
    }

    h1, h2 {
        text-align: center;
    }

    iframe {
        width: 80%;
        margin: auto;
        border-radius: 10px;
    }

    iframe button{
        width: 80%;
        margin: auto;
        border-radius: 10px;
    }

    .nav-ul {
        text-align: start;
    }

    .section-text {
        text-align: justify;
    }

    .grid-container-1 {
        display: block;
        
    }

    .grid-item-1 {
        display: block;
    }
    
    .grid-item-2 {
        display: block;
    }
    
    .grid-container-2 {
        display: block;
    }


    .section-text {
        width: 90%;
        text-align: justify;
    }

    .sign-up {
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .image-section {
        width: 100%;
        margin: auto;
    }
    
    .image-section img {
        width: 80%;
        margin: 20px auto;
        border-radius: 10px;
    }

    .carousel-inner>.carousel-item>img {
        width: 50%;
        height: 260px;
        margin: auto;
    }
}
/* Code Refactoring Coming Up in Git Commit 2. Out of time right now. Suggestions are welcome too. Thank you. */